---
import CategoryStyleOne from './CategoryStyleOne.astro';

interface Props {
  categories: string[];
}

const { categories } = Astro.props;
---

<div class="categories grid lg:grid-cols-1 sm:grid-cols-2 grid-cols-1 gap-5">
  {categories.slice(0, 4).map(category => (
    <CategoryStyleOne category={category} />
  ))}
</div>
